@import '@styles/base';

.container {
    padding: 1rem 1rem 1rem;
    
    .searchWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .select {
            padding: 0.4rem;
            cursor: pointer;
        }

        input {
            padding: 0.4rem;
            width: 85%;
        }

        button {
            padding: 0.4rem;
        }
    }
}

@media (max-width: 450px) {
    button {
        display: none;
    }
}